QMainWindow
{
    background: qlineargradient(x1:1, y1:0, x2:0, y2:1,
    stop: 0     #FFF1D8,
    /*stop: 0.42 rgba(74,218,220,0.42),*/
    stop: 1    	#FFEAC3)
}

QPushButton
{
    padding: 4px 2px;
    border: 3px solid #B69A65/*rgba(120, 120, 120, .4)*/;
    border-radius: 15px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #594B32;
}

QPushButton:hover
{
    background: #FFEEC0;
}

QPushButton:pressed
{
    background: rgba(200, 200, 200, 0.8);
}

QLineEdit
{
    background: rgba(255, 255, 255, 0.4);
    font-size: 26px;
    font-family: "Comic Sans MS";
    border-radius: 10px;
    border: 2px dashed rgba(120, 120, 120, .4);
}

QLabel#labelGameName
{
    font-size: 32px;
    color: #836F4A;
    /*color: #A68342;*/
    font-family: "Comic Sans MS";
}

QLabel#labelWarning
{
    font-size: 24px;
    font-family: "Comic Sans MS";
    color: #FF7171;
}
QLabel#term
{
    border: 2px dashed rgba(120, 120, 120, .4);
    font-size: 20px;
    font-family: "Comic Sans MS";
}

QLabel#label
{
    font-size: 28px;
    color: #836F4A;
    /*color: #A68342;*/
    font-family: "Comic Sans MS";
}

QProgressBar
{
    border: solid grey;
    border-radius: 15px;
    color: rgba(120, 120, 120, 0);
}

QProgressBar:chunk
{
    background-color: rgba(166,153,0,1);
    border-radius :15px;
}


QListWidget#item:selected
{
    background: rgba(166,153,0,1);
    border: 0px;
}

QListWidget
{
    padding: 4px 2px;
    border: 2px dashed rgba(120, 120, 120, .4);
    border-radius: 10px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    background-color: transparent;
}

